i{
    font-size: large;
}
.header{
    position: absolute;
    z-index: 999;
    width: 100%;
    

}

.upperportion{
    display: flex;
    color: white;
    margin-left: 10%;
    margin-top: 10px;
    gap: 30%;
    font-size: 17px;
}


.emailinfo{
    display: flex;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    gap: 25px;
}

.iconinfo{
    align-content: flex-end;
    display: flex;
    gap: 25px;
}

.iconinfo a{
    text-decoration: none;
    color: white;

}
.iconinfo button{
    background-color: red;
    color: white;
    font-size: 15px;
    padding: 3px;
}


.middleportion{
    display: flex;
    padding: 20px;
    position: fixed;
    width: 100%;
    margin-top: 15px;
    gap: 30%;
    font-size: 17px;
    align-content: center;
}



.home_cont{
    margin-top: 20px;
    display: flex;

    gap: 30px;
}
.home_cont a{
    text-decoration: none;
    color: white;
}

.slider{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow-x: hidden;
    
}

.overlay{
    top: 0;
    background-color: rgba(0,0,0,0.7);
    width: 100%;

    position: absolute;
}
.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: translateX(-50%);
    transition: all 0.5s ease;
}

@media screen and (min-width:600px){
    .slide img{
        width: 100%;
        height: 100%;
    }
}
.slide img{
    height: 100%;
}
.content{
    top: 30%;
}

.content1 {
    position: absolute;
    font-size: 25px;
    font-family: 'Dancing Script', cursive;
    top: 30%;
    opacity: 0;
    padding: 3rem;
    margin-left: 45%;
    color: white;
    animation: slide-down 1s ease 0s;
    animation-fill-mode: forwards;
}


.content2{
    position: absolute;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    top:38%;
    margin-left: 38%;
    width: 50%;
    opacity: 0;
    padding: 3rem;
    color: white;
    animation: zoom-in 4s ease 0s;
    animation-fill-mode: forwards;
}
.content2 h1{
    font-weight: 300;
}

.content3{
    position: absolute;
    margin-left: 46%;
    top: 30%;
    opacity: 0;
    padding: 3rem;
    animation: slide-up 1s ease 0s;
    animation-fill-mode: forwards;
}
.content3 button{
    background-color: transparent;
    color: white;
    font-size: 20px;
    border-color: white;
    padding: 6px;
}
.content3 button:hover{
    background-color: red;
}

@keyframes slide-down {
    0%{
        visibility: visible;
        top: 10%;
    }
    100%{
        visibility: visible;
        top: 25%;
    }
}

@keyframes slide-up {
    0%{
        visibility: visible;
        top: 100%;
    }
    100%{
        visibility: visible;
        top: 51%;
    }
}

@keyframes zoom-in {
    0% {
      transform: scale(0.5, 0.5);
    }
    50% {
      transform: scale(1, 1);
    }
    100% {
      transform: scale(1, 1);
    }
  }

@media screen and (max-width: 600px) {
    .content , .content2,.content3{
        width: 80%;
    }
    
}

.current {
    opacity: 1;
    transform: translateX(0);
}

.current .content1 {
    opacity: 1;
}

.current .content2 {
    opacity: 1;
}
.current .content3 {
    opacity: 1;
}


.arrow {
    
    color: white;
    width: 2rem;
    height: 2rem;
    background-color: #fff;
    top: 35%;
    cursor: pointer;
    position: absolute;
    z-index: 999;
}


.arrow:hover{
    background: #fff;
    color:#777;
}
.next { 
    right: 1.5rem;
}
.prev {
    left: 1rem;

}

hr {
    height: 2px;
    background: #ffff;
    width: 50%;
}

.active{
    position: fixed;
    background-color: white;
    color: black;
    top: -17px;
}
.active img{
    color: black;
}
.active a{
    color: black;
}
.middleportion img{
    padding-left: 100px;
}
.active::before{
    content:'';
    position: fixed;
    top: 98px;
    left: 0;
    width: 100%;
    margin-bottom: 5%;
    height: 70px; 
    background: linear-gradient(135deg, #f3f3ec 25%, transparent 0) -20px 0,
    linear-gradient(225deg, #f8f8f6 25%, transparent 0) -20px 0;
    background-repeat: repeat-x;
    background-size: 16px 23px;
    z-index: 1;

}

@media only screen and (max-width: 900px) {
    .upperportion{
        flex-direction: column;
        gap: 30px;
        margin-left: 20%;
    }
}